<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Importante: Como el dominio apunta directo aquí, la base es /
  RewriteBase /
  
  # Si el archivo o carpeta física existe (assets, imágenes), los carga directamente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  # Si la ruta no existe físicamente, la maneja React a través del index.html
  RewriteRule ^ index.html [L]
</IfModule>
